{% extends 'teacher/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card" style="width: 100%;">
            <img class="card-img-top"
                 src="https://www.gstatic.com/classroom/themes/img_backtoschool.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">
                    {{ course.description }}
                </p>
            </div>
        </div>
        <hr/>
        {% for i in students %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ i.username }}</h5>
                    <a href="mailto:{{ i.email }}">Email</a>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}