{% extends 'student/main.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ lesson.title }}</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="{{ lesson.videoPath }}" width="640" height="480"></iframe>
        </div>
        <div id="description" class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
        </div>
        <div id="dummyElement" style="display: none;">
            {{ lesson.content }}
        </div>
    </div>
    <script>
        document.getElementById('description').innerHTML = document.getElementById('dummyElement').innerText;
    </script>
{% endblock %}